*{
    margin: 0;
    padding: 0;
}
.game-container{
    width:500px;
    display: none;
}
td{
    width: 100px;
    height:100px;
    border: 2px solid lawngreen ;
    text-align: center;
    color: white;
    font-size: 50px;
    background-color: blue;
    box-shadow: 2px 2px lightslategrey;
}

table{
    width:600px;
    padding: 100px;
}
.player-info-container{
    display:none;
    background-color: lightseagreen;
    width:400px;
    padding:50px;
    border-radius: 10px;
}

.player-info-container button{
    margin-left: 100px;
    margin-top:50px;
    padding: 10px;
    background-color: aqua;

}



.button-container{
    width: 400px;
}

.start-game-btn{
    border: none;
    width: 200px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 2px 2px 4px purple;

}
.reset-game-btn{
    border: none;
    display: none;
    width: 200px;
    height: 50px;
    background-color: rgb(230, 226, 38);
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgb(189, 30, 96);
}

.start-game-btn:hover{
    transform: scale(1.2);
    background-color: rgb(67, 109, 67);
    box-shadow: 2px 2px 4px rgb(75, 7, 75);

}

.player-data{
    width: 500px;
    margin:0 auto;
    
}

body{
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}

.left-section{
    height: 100%;
    background-color: brown;
    padding: 50px;
    width: 500px;
}

.header-text{
    color: white;
    margin-bottom: 100px;

}

.turn-message{
    text-align: center;
    margin-top: 100px;
    color: blue;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}

.win-message{
    text-align: center;
    margin-top: 50px;
    color: rgb(30, 255, 0);
    font-style: italic;
    font-size: 80px;
    font-weight: bold;
}

.player-data{
    color: yellow;
    font-size: 40px;

}